/*.active{
  background-color: red;
}*/
.app-body{
  margin-top: 10px;
}

.nav-styles{
  background-color: white; /*#1a1b22; #49a4e7*/
  border-bottom: 1px solid #f1f2f4;
}

.nav-styles a{
  color: #0275d8;
}

.nav-link.active{
  color: #e64758 !important;
}

.dropdown-links a{
  color: #1a1b22;
}

.dropdown-links a:hover{
  color: #252830;
}
