/*.active{
  background-color: red;
}*/
.app-body{
  margin-top: 10px;
}

.nav-styles{
  background-color: #1a1b22;
}

.nav-styles a{
  color: white;
}

.nav-link.active{
  color: #e64758 !important;
}

.dropdown-links a{
  color: #1a1b22;
}

.dropdown-links a:hover{
  color: #252830;
}
